/* Estilos del header */
header {
  background-color: rgb(83, 104, 40);
  padding: 30px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 10px;
  z-index: 1250;
}

.logo-container {
  display: flex;
  align-items: center;
  margin-top: -25px;
  margin-left: -10px;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 1px;
  padding: 1px;
}

/* Estilos del menú */
.menu-container {
  position: relative;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1250;
  width: 100%;
  text-align: auto;
  margin-top: 70px;
  display: flex;
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.3);
}

.menu-tabs {
  width: 100%;
  margin: auto;
}

.menu-tab {
  justify-content: center;
  display: flex;
  align-items: center;
  width: 100%;
}

.menu-label {
  color: white;
  font-size: 1rem;
}

.menu-tab-item {
  width: 12.5%;
}

/* Estilos de Home */
.home-container {
  margin-top: 10px;
  position: relative;
  margin-bottom: 50px;

}

.image-overlay:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
}

.image-overlay {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.carousel-image-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel-image {
  width: auto;
  height: 100%;
  object-fit: cover;
}

.content-container {
  position: absolute;
  top: 55%;
  left: 40%;
  transform: translate(-50%, -50%);
  text-align: left;
  color: white;
}

.title {
  font-size: 3.5vw;
  margin-bottom: 1rem;
}

.description {
  font-size: 2vw;
  font-family: Goudy Old Style;
}

@media (max-width: 1000px) {
  .image-overlay {
    height: 80vh;
  }
}
.text-container {
  max-width: 500px; /* Establece el límite máximo de ancho en 300px */
  overflow-wrap: break-word; /* Permite que el texto se ajuste automáticamente y se divida en palabras */
}




/* Estilos de la imagen de paralaje */
#parallax-image {
  transform: translateY(0);
  transition: transform 0.5s ease-out;
}

/* Estilos de Footer */
.footer-container {
  background-color: black;
  height: 200px;
  margin-top: 5%;
}

.footer-bar {
  background-color: rgb(83, 104, 40);
  height: 10px;
}

.footer-image {
  margin-top: 2%;
  margin-left: 3%;
}

.footer-text {
  margin-top: 5px;
  color: white;
  font-weight: normal;
  font-size: 1vw;
  margin-left: 3%;
  line-height: 2;
}

.footer-email {
  color: white;
} 


.card {
  width: 552px;
  height: 226px;
  margin-left: calc(7% - 30px);
  margin-top: 20px;
  
  
}

@media (max-width: 600px) {
  .card {
    width: 100%; /* Cambiar el ancho a 100% en dispositivos con un ancho máximo de 600px */
    margin-left: 0; /* Eliminar el margen izquierdo en dispositivos más pequeños */
    margin-top: 10px; /* Ajustar el margen superior en dispositivos más pequeños */
    /* Otros estilos necesarios para adaptar el card en dispositivos móviles */
  }
}



.button-container {
  margin-left: 65%;
  z-index: 100;
}

@media (max-width: 600px) {
  .ca-rd {
    width: 100%; /* Cambiar el ancho a 100% en dispositivos con un ancho máximo de 600px */
    margin-left: 0; /* Eliminar el margen izquierdo en dispositivos más pequeños */
    margin-top: 10px; /* Ajustar el margen superior en dispositivos más pequeños */
    /* Otros estilos necesarios para adaptar el card en dispositivos móviles */
  }
}

@media (max-width: 960px) {
  .ca-rd {
    width: 80%; /* Reducir el ancho del card al 80% del contenedor en dispositivos más pequeños */
    height: auto; /* Permitir que la altura se ajuste automáticamente según el contenido */
    margin-left: auto; /* Centrar horizontalmente el card en dispositivos más pequeños */
    margin-right: auto;
    margin-top: 10px; /* Ajustar el margen superior en dispositivos más pequeños */
    /* Otros estilos necesarios para adaptar el card en dispositivos con un ancho máximo de 960px */
  }
}

.section {
  position: relative;
  width: 100%;
  height: 300px;
  min-height: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
  
  overflow: hidden;
  background-attachment: fixed;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.text {
  position: absolute;
  color: #fff;
  text-align: center;
  z-index: 1;
  left: 50%;
  top: 1%;
  transform: translateX(-50%);
}

@media (max-width: 960px) {
  .section {
    height: 750px; /* Ajusta la altura deseada para pantallas más pequeñas */
    min-height: unset; /* Elimina la altura mínima */
  }

  .image {
    max-height: 100%; /* Ajusta el tamaño máximo de la imagen para adaptarse al contenedor más pequeño */
  }
}
.centeredGrid {
  display: flex;
  justify-content: center;
  align-items: center;
}

